
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="accueil">
    <h1>Vous êtes sur la page d'accueil</h1>
    <p>Bienvenue sur symfony_project</p>
</div>
{% endblock %}