
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Contactez-nous</h1>
    <p>Voulez-vous nous contacter ? symfony@project.com</p>
</div>
{% endblock %}